*{
    margin: 0 auto;
}
/* uwu */
.header{
    height:8vh; 
    width:100vw ;
    background-color: rgb(51, 51, 51);
    position: fixed;
    z-index: 2;
}
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
.logo{
   height:8vh;
   width:50vw;
   float: left;
   background-color: #515151;
}
.logo p {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size:2.5vw;
    color:white;
    text-decoration: none;
}
.logo a:hover{
    opacity: 0.7;
}
.logo a{
    text-decoration: none;
    color:white;
}
.header_links{
    float: right;
    background-color: #515151;
    height:8vh;
    width:50vw;
    display: flex;
}
.header_links div{
    
    width: 10vw;
    height:8vh;
    text-align: center;
    padding:vh;
}
.header_links p{
    margin-top:1.5vh;
    font-family: 'Anton', sans-serif;
    font-size:1.5vw;
}
.header_links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header_links p:hover{
    opacity: 0.7;
}
.contact_drop{
    position: absolute;
    display:none;
    padding-top: 0.5vh;
    animation-name: example;
    animation-duration: 0.8s;
}
@keyframes example {
    from {opacity:0;}
    to {opacity:1;}
}
.contact_drop a{
    font-size: 1.5vw;
    font-family: 'Anton', sans-serif;
}
.contact_drop a:hover{
    opacity: 0.7;
}
.contact_drop div{
    background-color: #515151;
    width:6vw;
    height:5vh;
    padding-right: 2vh;
    padding-left: 1vw;
}
.social p{
    color:white;
    cursor: default;
}
.social:hover .contact_drop{
    display:block;
}
.corpo{
    padding-top:8vh;
}
.about{
    font-family: 'Courgette', cursive;
    font-size:5vw;
    display: inline-block;
    width:100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.fotominha{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 76.8vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tudo{
    margin-left: 3vw; 
}
.nome{
    font-size:5vw;
    height:15vh;
    font-family: 'Open Sans', sans-serif;
    padding-left: 3vw;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.texto{
    font-family: 'Roboto', sans-serif;
    font-size:2.5vw;
    width:75%;
    background-color: rgb(255, 255, 255);
    margin-top: 5vh;
    text-indent: 2vw;
    margin: 5vw 2vw;
    float: right;
}
.arigatu{
    font-size: 2.9vw;
    margin-left:30.5vw; 
    margin-top: 3vh;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}
footer{
    display:flex;
    height:50vh;
    width:100%;
    background-color: black;
    margin-top:20vh;
}
footer div{
    width: 50%;
    height:50vh;
    background-color: rgb(0, 0, 0);
}
footer h1{
    color: white;
    font-family: 'Anton', sans-serif;
    font-size:5vw;
}
.footer_logo{
    height:20vh;
    width:100%;
    background-color: rgb(0, 0, 0);
    padding-top:20vh;
    padding-left:18vw;
}
.footer_copy{
    height:10vh;
    width:100%;
    background-color: rgb(0, 0, 0);
}
.footer_copy p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 7vh;
}
.footer_list p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color:white;
    margin-left: 22vw;
    margin-top:0.5vw;
}
.footer_list{
    padding-top:10vh;
    height:40vh;
}
.footer_list a{
    text-decoration: none;
    color: white;
}