*{
    margin: 0 auto
}
html{
    scroll-behavior: smooth;
}
.header{
    height:8vh; 
    width:100vw ;
    background-color: rgb(51, 51, 51);
    position: fixed;
    z-index: 2;
}
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
.logo{
   height:8vh;
   width:50vw;
   float: left;
   background-color: #515151;
}
.logo p {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size:2.5vw;
    color:white;
    text-decoration: none;
}
.logo a:hover{
    opacity: 0.7;
}
.logo a{
    text-decoration: none;
    color:white;
}
.header_links{
    float: right;
    background-color: #515151;
    height:8vh;
    width:50vw;
    display: flex;
}
.header_links div{
    
    width: 10vw;
    height:8vh;
    text-align: center;
    padding:vh;
}
.header_links p{
    margin-top:1.5vh;
    font-family: 'Anton', sans-serif;
    font-size:1.5vw;
}
.header_links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.header_links p:hover{
    opacity: 0.7;
}
.contact_drop{
    position: absolute;
    display:none;
    padding-top:1.9vh;
    -webkit-animation-name: example;
    -webkit-animation-duration: 0.8s;
}
@keyframes example {
    from {opacity:0;}
    to {opacity:1;}
}
.contact_drop a{
    font-size: 1.5vw;
    font-family: 'Anton', sans-serif;
}
.contact_drop a:hover{
    opacity: 0.7;
}
.contact_drop div{
    background-color: #515151;
    width:6vw;
    height:5vh;
    padding-right: 2vh;
    padding-left: 1vw;
}
.social p{
    color:white;
    cursor: default;
}
.social:hover .contact_drop{
    display:block;
}
.menu_sort{
    width: 100%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    padding-top:8vh;
}
.menu_sort a{
    font-size:1.7vw;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-left: 0.1vw;
    user-select: none;
    font-family: 'Quicksand', sans-serif;
}
.menu_sort div{
    display: none;
}
.menu_sort_a{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 0.5vw;
    display:block;
    width:8vw;
    padding-right: 2vh;
    padding-left: 1vw;
    position: absolute;
    clear: both;
    margin-left: 3vw;
    background-color: white;
    z-index: 1;
}
.menu_sort_a a{
    float:left;
    text-decoration: none;
    padding:0.2vw;
}
.thumbs{
    display: flex;
    margin-left: 6vw;
    margin-right: 10vw;
    user-select: none;
}
.thumbs > div{
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: 40vh;
    margin: 2vw;
}
.thumbs a{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 2vw;
    background-color: rgb(255, 255, 255);
    display: block;
    
}
.menino{
    background-color: #ffffff;
    height: 14.069171648163962vw;
    width:100%;
    overflow: hidden;
    z-index:0;
}
.menino img{
    transition: 1s;
    filter: blur(2px);
}
.menino:hover img{
    transform: scale(1.5);
    filter: none;
}
footer{
    display:flex;
    height:50vh;
    width:100%;
    background-color: black;

}
footer div{
    width: 50%;
    height:50vh;
    background-color: rgb(0, 0, 0);
}
footer h1{
    color: white;
    font-family: 'Anton', sans-serif;
    font-size:5vw;
}
.footer_logo{
    height:20vh;
    width:100%;
    background-color: rgb(0, 0, 0);
    padding-top:20vh;
    padding-left:18vw;
}
.footer_copy{
    height:10vh;
    width:100%;
    background-color: rgb(0, 0, 0);
}
.footer_copy p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 7vh;
    font-size: 1vw;
    margin-left:1vw;
}
.footer_list p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color:white;
    margin-left: 22vw;
    margin-top:0.5vw;
}
.footer_list{
    padding-top:10vh;
    height:40vh;
}
.footer_list a{
    text-decoration: none;
    color: white;
    font-size:1.5vw;
}